ceo-comment-writer-workflow-multi-backup.json
{
  "name": "CEO Comment Writer v2.3 (AI Agent with Memory)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "telegram-webhook-ceo-comment-multi",
      "credentials": {
        "telegramApi": {
          "id": "telegram_credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "updates": ["callback_query"]
      },
      "id": "telegram-callback-trigger",
      "name": "Telegram Callback Query Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 600],
      "webhookId": "telegram-callback-ceo-comment-multi",
      "credentials": {
        "telegramApi": {
          "id": "telegram_credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming Telegram message with PERSON field support\nconst messageText = $input.item.json.message.text || '';\nconst chatId = $input.item.json.message.chat.id;\nconst userId = $input.item.json.message.from.id;\n\n// Initialize variables\nlet person = 'maria_arkhangelskaya';\nlet media = '';\nlet question = '';\nlet context = '';\nlet targetLength = '1500-2000';\nlet audience = '';\nlet urgency = '';\nlet specialConsiderations = '';\n\n// Parse structured input\nconst lines = messageText.split('\\n');\n\nfor (const line of lines) {\n  if (line.includes('PERSON:') || line.includes('ПЕРСОНА:')) {\n    const rawPerson = line.split(/PERSON:|ПЕРСОНА:/i)[1].trim().toLowerCase();\n    person = normalizePerson(rawPerson);\n  } else if (line.includes('МЕДИА:')) {\n    media = line.split('МЕДИА:')[1].trim();\n  } else if (line.includes('ВОПРОС:')) {\n    question = line.split('ВОПРОС:')[1].trim();\n  } else if (line.includes('КОНТЕКСТ:')) {\n    context = line.split('КОНТЕКСТ:')[1].trim();\n  } else if (line.includes('ЦЕЛЕВАЯ ДЛИНА:')) {\n    targetLength = line.split('ЦЕЛЕВАЯ ДЛИНА:')[1].trim();\n  } else if (line.includes('АУДИТОРИЯ:')) {\n    audience = line.split('АУДИТОРИЯ:')[1].trim();\n  } else if (line.includes('СРОЧНОСТЬ:')) {\n    urgency = line.split('СРОЧНОСТЬ:')[1].trim();\n  } else if (line.includes('ОСОБЫЕ СООБРАЖЕНИЯ:')) {\n    specialConsiderations = line.split('ОСОБЫЕ СООБРАЖЕНИЯ:')[1].trim();\n  }\n}\n\nfunction normalizePerson(rawInput) {\n  const personMap = {\n    'maria': 'maria_arkhangelskaya',\n    'мария': 'maria_arkhangelskaya',\n    'maria arkhangelskaya': 'maria_arkhangelskaya',\n    'мария архангельская': 'maria_arkhangelskaya',\n    'ilya': 'ilya_morozov',\n    'илья': 'ilya_morozov',\n    'ilya morozov': 'ilya_morozov',\n    'илья морозов': 'ilya_morozov'\n  };\n  return personMap[rawInput] || 'maria_arkhangelskaya';\n}\n\nconst missingFields = [];\nif (!media) missingFields.push('МЕДИА');\nif (!question) missingFields.push('ВОПРОС');\nif (!context) missingFields.push('КОНТЕКСТ');\n\nreturn {\n  json: {\n    chatId,\n    userId,\n    messageId: $input.item.json.message.message_id,\n    sessionId: `${userId}_${Date.now()}`,\n    person,\n    media,\n    question,\n    context,\n    targetLength,\n    audience,\n    urgency,\n    specialConsiderations,\n    missingFields,\n    hasMissingFields: missingFields.length > 0,\n    originalMessage: messageText\n  }\n};"
      },
      "id": "parse-request",
      "name": "Parse Request with PERSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasMissingFields }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-required-fields",
      "name": "Check Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=❌ Не хватает обязательных полей для создания комментария:\n\n{{ $json.missingFields.join(', ') }}\n\n📋 Пожалуйста, укажите:\n• PERSON: [maria / имя комментатора] (опционально)\n• МЕДИА: [Sostav.ru / Forbes Russia / RBC и т.д.]\n• ВОПРОС: [Точный вопрос журналиста]\n• КОНТЕКСТ: [Ссылка или краткое описание статьи]\n• ЦЕЛЕВАЯ ДЛИНА: [По умолчанию 1500-2000 знаков]",
        "replyMarkup": "none"
      },
      "id": "send-missing-fields",
      "name": "Send Missing Fields Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [840, 180],
      "credentials": {
        "telegramApi": {
          "id": "telegram_credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Load profile from JSON file\nconst person = $input.item.json.person || 'maria_arkhangelskaya';\nconst fs = require('fs');\nconst path = require('path');\n\nconst profilesDir = 'D:\\\\Downloads\\\\SynologyDrive\\\\DDVB Analytics\\\\marketing-automation-n8n\\\\ceo-comment-writer\\\\profiles';\nconst profilePath = path.join(profilesDir, `${person}.json`);\nconst defaultProfilePath = path.join(profilesDir, 'default.json');\n\nlet profile = null;\nlet profileLoadError = null;\n\ntry {\n  if (fs.existsSync(profilePath)) {\n    const profileData = fs.readFileSync(profilePath, 'utf-8');\n    profile = JSON.parse(profileData);\n  } else {\n    if (fs.existsSync(defaultProfilePath)) {\n      const profileData = fs.readFileSync(defaultProfilePath, 'utf-8');\n      profile = JSON.parse(profileData);\n      profileLoadError = `Profile '${person}' not found, using default profile`;\n    } else {\n      throw new Error(`Profile '${person}' not found and no default profile exists`);\n    }\n  }\n  \n  const requiredFields = ['name', 'title', 'expertise', 'communication_style', 'tone'];\n  for (const field of requiredFields) {\n    if (!profile[field]) {\n      throw new Error(`Profile '${person}' is missing required field: ${field}`);\n    }\n  }\n  \n} catch (error) {\n  profile = {\n    profile_id: 'maria_arkhangelskaya',\n    name: 'Maria Arkhangelskaya',\n    name_ru: 'Мария Архангельская',\n    title: 'CEO & Managing Partner of DDVB',\n    title_ru: 'Генеральный директор и управляющий партнёр DDVB',\n    company: 'DDVB',\n    expertise: ['Agency operations', 'Branding', 'Client relations'],\n    communication_style: 'Professional expert with systems-thinking approach',\n    tone: 'Authoritative yet warm, experience-based',\n    language: 'ru',\n    default_target_length: '1500-2000'\n  };\n  profileLoadError = `Failed to load profile: ${error.message}. Using minimal fallback.`;\n}\n\nreturn {\n  json: {\n    ...($input.item.json),\n    profile,\n    profileLoadError,\n    profileLoaded: true\n  }\n};"
      },
      "id": "load-profile",
      "name": "Load Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 360]
    },
    {
      "parameters": {
        "jsCode": "// Initialize revision memory for new session\nconst sessionId = $input.item.json.sessionId;\nconst timestamp = new Date().toISOString();\n\n// Create memory structure\nconst memory = {\n  session_id: sessionId,\n  created_at: timestamp,\n  iterations: [],\n  current_iteration: 0,\n  status: 'active',\n  person: $input.item.json.person,\n  media: $input.item.json.media,\n  question: $input.item.json.question,\n  context: $input.item.json.context,\n  targetLength: $input.item.json.targetLength,\n  profile: $input.item.json.profile\n};\n\n// Store in workflow static data\nconst staticData = this.getWorkflowStaticData('global');\nif (!staticData.sessions) {\n  staticData.sessions = {};\n}\nstaticData.sessions[sessionId] = memory;\n\nreturn {\n  json: {\n    ...($input.item.json),\n    memory,\n    memoryInitialized: true\n  }\n};"
      },
      "id": "initialize-memory",
      "name": "Initialize Revision Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 360]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=✅ Запрос принят!\n\n👤 Профиль: {{ $json.profile.name_ru || $json.profile.name }} ({{ $json.profile.title_ru || $json.profile.title }})\n📰 Медиа: {{ $json.media }}\n❓ Вопрос: {{ $json.question }}\n📝 Целевая длина: {{ $json.targetLength }} знаков\n\n{{ $json.profileLoadError ? '⚠️ ' + $json.profileLoadError + '\\n\\n' : '' }}🔍 Начинаю исследование и подготовку комментария...",
        "replyMarkup": "none"
      },
      "id": "send-confirmation",
      "name": "Send Confirmation with Profile",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1240, 360],
      "credentials": {
        "telegramApi": {
          "id": "telegram_credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare research query for article/context\nconst context = $input.item.json.context;\nconst question = $input.item.json.question;\nconst media = $input.item.json.media;\n\nreturn {\n  json: {\n    ...($input.item.json),\n    researchQuery: `Analyze this context for a media comment request:\n\nContext: ${context}\nQuestion: ${question}\nMedia Outlet: ${media}\n\nProvide:\n1. Main topic and key points from the context\n2. Relevant facts, statistics, or trends\n3. Industry implications\n4. Any notable quotes or perspectives mentioned`\n  }\n};"
      },
      "id": "prepare-research",
      "name": "Prepare Research Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 360]
    },
    {
      "parameters": {
        "messages": [
          {
            "role": "user",
            "content": "={{ $json.researchQuery }}"
          }
        ]
      },
      "id": "research-perplexity",
      "name": "Research with Perplexity",
      "type": "mcp__plugin_mcp-perplexity_perplexity__perplexity_research",
      "typeVersion": 1,
      "position": [1640, 360]
    },
    {
      "parameters": {
        "jsCode": "// Load conversation history from memory\nconst sessionId = $input.item.json.sessionId;\nconst staticData = this.getWorkflowStaticData('global');\n\nlet memory = null;\nlet conversationHistory = [];\n\nif (staticData.sessions && staticData.sessions[sessionId]) {\n  memory = staticData.sessions[sessionId];\n  conversationHistory = memory.iterations || [];\n  \n  // Cache research results if not already stored\n  if (!memory.researchResults && $input.item.json.response) {\n    memory.researchResults = $input.item.json.response;\n    staticData.sessions[sessionId] = memory;\n  }\n}\n\nreturn {\n  json: {\n    ...($input.item.json),\n    memory,\n    conversationHistory,\n    hasHistory: conversationHistory.length > 0,\n    currentIteration: conversationHistory.length + 1,\n    response: memory?.researchResults || $input.item.json.response\n  }\n};"
      },
      "id": "load-memory-context",
      "name": "Load Conversation History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 360]
    },
    {
      "parameters": {
        "jsCode": "// Build comprehensive AI Agent system message with profile data + memory context\nconst profile = $input.item.json.profile;\nconst researchResults = $input.item.json.response || 'Research not available';\nconst media = $input.item.json.media;\nconst question = $input.item.json.question;\nconst context = $input.item.json.context;\nconst targetLength = $input.item.json.targetLength;\nconst conversationHistory = $input.item.json.conversationHistory || [];\nconst currentIteration = $input.item.json.currentIteration || 1;\nconst feedback = $input.item.json.feedback || null;\n\n// Build revision history context\nlet revisionContext = '';\nif (conversationHistory.length > 0) {\n  revisionContext = `\\n## REVISION HISTORY\\n\\nThis is revision #${currentIteration}. Previous iterations:\\n\\n`;\n  conversationHistory.forEach((iter) => {\n    revisionContext += `### Iteration ${iter.iteration}\\n`;\n    revisionContext += `**Comment:** ${iter.comment.substring(0, 200)}...\\n`;\n    if (iter.feedback) {\n      revisionContext += `**Feedback received:** ${iter.feedback}\\n`;\n    }\n    revisionContext += `**Timestamp:** ${iter.timestamp}\\n\\n`;\n  });\n  \n  if (feedback) {\n    revisionContext += `### Current Feedback for Iteration ${currentIteration}\\n${feedback}\\n\\n`;\n    revisionContext += `**IMPORTANT:** Address this feedback while maintaining:\\n`;\n    revisionContext += `- Original question alignment\\n`;\n    revisionContext += `- ${profile.name}'s authentic voice\\n`;\n    revisionContext += `- Media outlet style (${media})\\n`;\n    revisionContext += `- Target length (${targetLength} characters)\\n\\n`;\n  }\n}\n\nconst systemMessage = `# SYSTEM PROMPT: ${profile.name} Comment Writer (AI Agent with Memory)\n\nYou are an expert ghostwriter for **${profile.name}** (${profile.name_ru || profile.name}), ${profile.title} (${profile.title_ru || profile.title}) of ${profile.company}. Your role is to write authentic media comments in their voice for Russian industry publications.\n\n${revisionContext}\n\n## WHO IS ${profile.name.toUpperCase()}\n\n### Professional Background\n${profile.career_highlights ? profile.career_highlights.map(h => `- ${h}`).join('\\n') : 'Experienced professional'}\n\n### Core Expertise\n${profile.expertise.map(e => `- ${e}`).join('\\n')}\n\n${profile.philosophy ? '### Professional Philosophy\\n' + profile.philosophy + '\\n' + (profile.philosophy_ru || '') : ''}\n\n## VOICE & TONE\n\n### Communication Style\n${profile.communication_style}\n${profile.communication_style_ru ? '\\n' + profile.communication_style_ru : ''}\n\n### Tone\n${profile.tone}\n${profile.tone_ru ? '\\n' + profile.tone_ru : ''}\n\n### Speaking Patterns\n${profile.speaking_patterns || 'Natural, professional communication'}\n${profile.speaking_patterns_ru ? '\\n' + profile.speaking_patterns_ru : ''}\n\n## WHAT TO AVOID\n${profile.do_not_say ? profile.do_not_say.map(d => `- ${d}`).join('\\n') : '- Unprofessional communication\\n- Topics outside expertise'}\n\n## PREFERRED STRUCTURE\n${profile.preferred_structure || 'Clear opening → Supporting evidence → Actionable conclusion'}\n${profile.preferred_structure_ru ? '\\n' + profile.preferred_structure_ru : ''}\n\n## CRITICAL REQUIREMENTS (Version 2.3 - AI Agent with Memory)\n\n1. **УЧЁТ СПЕЦИФИКИ СМИ**: Adapt to each outlet's style and audience\n2. **ПРЯМОЙ ОТВЕТ**: Directly answer journalist's question (no topic drift)\n3. **ОРИГИНАЛЬНОЕ МНЕНИЕ**: Original insights with facts (no общеизвестные истины)\n4. **ОБЪЁМ**: Standard ${profile.default_target_length || targetLength} characters (2-3 paragraphs)\n5. **CONTINUITY**: ${currentIteration > 1 ? 'Apply feedback while maintaining original constraints' : 'First iteration - establish baseline'}\n\n## OUTPUT STRUCTURE (9-Part Framework)\n\nProvide comprehensive analysis with:\n\n1. **КОНТЕКСТ** (2-3 sentences): Brief analysis of what's being discussed\n2. **МЕДИА-АНАЛИЗ** (2-3 sentences): Media outlet identification and adaptation strategy\n3. **ПРЯМОЙ ОТВЕТ** (1-2 sentences): Verify the comment directly answers the question\n4. **ОРИГИНАЛЬНОСТЬ** (2-3 sentences): Check for original insights with facts\n5. **ПОЗИЦИОНИРОВАНИЕ** (2-3 sentences): ${profile.name}'s strategic angle on this topic\n6. **КОММЕНТАРИЙ** (${profile.default_target_length || targetLength} characters): Ready-to-post comment in Russian\n7. **ПРОВЕРКА ДЛИНЫ**: Character count verification\n8. **АЛЬТЕРНАТИВА** (optional): Alternative angle or approach\n9. **ПРИМЕЧАНИЯ**: Caveats, recommendations, or special considerations\n${currentIteration > 1 ? '10. **ИЗМЕНЕНИЯ**: Summary of what changed from previous iteration based on feedback' : ''}\n\n## CURRENT REQUEST\n\n**Iteration:** ${currentIteration}\n**Media Outlet:** ${media}\n**Question:** ${question}\n**Context:** ${context}\n**Target Length:** ${targetLength} characters\n${feedback ? `\\n**PR Manager Feedback:** ${feedback}` : ''}\n\n**Research Results:**\n${researchResults}\n\nWrite in professional Russian (вы-form). Be authentic to ${profile.name}'s voice and expertise.\n`;\n\nconst userMessage = `Based on the research${conversationHistory.length > 0 ? ', revision history,' : ''} and context provided, write a media comment in ${profile.name}'s voice following the ${currentIteration > 1 ? '10' : '9'}-part framework.\n\nRemember:\n- Use ${profile.name}'s unique perspective and expertise\n- Answer the question directly\n- Provide original insights with facts\n- Target length: ${targetLength} characters\n- Adapt to ${media} outlet style\n- Write in professional Russian (вы-form)\n${feedback ? `- Address this specific feedback: ${feedback}` : ''}\n${currentIteration > 1 ? `- This is revision #${currentIteration} - show what changed` : ''}`;\n\nreturn {\n  json: {\n    ...($input.item.json),\n    systemMessage,\n    userMessage,\n    revisionContext\n  }\n};"
      },
      "id": "build-ai-prompt",
      "name": "Build AI Agent Prompt with Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2040, 360]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.7,
          "maxTokens": 3000
        },
        "messages": [
          {
            "role": "system",
            "content": "={{ $json.systemMessage }}"
          },
          {
            "role": "user",
            "content": "={{ $json.userMessage }}"
          }
        ]
      },
      "id": "ai-agent-draft",
      "name": "AI Agent - Draft Comment (GPT-4o)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [2240, 360],
      "credentials": {
        "openAiApi": {
          "id": "openai_credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the drafted comment from AI response\nconst aiResponse = $input.item.json.message?.content || $input.item.json.choices?.[0]?.message?.content || '';\n\n// Parse the 9/10-part structure to extract the main comment\nconst commentMatch = aiResponse.match(/КОММЕНТАРИЙ[:\\s]*([\\s\\S]*?)(?=ПРОВЕРКА ДЛИНЫ|АЛЬТЕРНАТИВА|ПРИМЕЧАНИЯ|ИЗМЕНЕНИЯ|$)/i);\nconst mainComment = commentMatch ? commentMatch[1].trim() : aiResponse;\n\n// Extract changes summary if present (for revisions)\nconst changesMatch = aiResponse.match(/ИЗМЕНЕНИЯ[:\\s]*([\\s\\S]*?)(?=ПРИМЕЧАНИЯ|$)/i);\nconst changesSummary = changesMatch ? changesMatch[1].trim() : null;\n\nconst characterCount = mainComment.length;\n\nreturn {\n  json: {\n    ...($input.item.json),\n    fullDraftResponse: aiResponse,\n    mainComment,\n    characterCount,\n    changesSummary\n  }\n};"
      },
      "id": "extract-comment",
      "name": "Extract Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 360]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.8,
          "maxTokens": 2000
        },
        "messages": [
          {
            "role": "system",
            "content": "You are a Russian language expert specializing in natural business communication. Your task is to humanize AI-generated text to sound like authentic professional Russian writing - removing any stilted or overly formal AI patterns while preserving the core message and the person's professional voice.\\n\\nKey principles:\\n- Natural flow and rhythm in Russian\\n- Professional but warm business tone (вы-form)\\n- Remove AI-typical constructions\\n- Maintain the person's unique perspective\\n- Keep experience-based insights\\n- Preserve original meaning and strategic angle\\n- Ensure smooth, conversational professional Russian"
          },
          {
            "role": "user",
            "content": "=Humanize this comment to sound like authentic Russian business communication from {{ $json.profile.name }}. Make it natural, warm, and professional while preserving the core message:\n\n{{ $json.mainComment }}\n\nReturn ONLY the humanized comment text, nothing else."
          }
        ]
      },
      "id": "humanize-comment",
      "name": "Humanize Comment",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [2640, 360],
      "credentials": {
        "openAiApi": {
          "id": "openai_credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract humanized comment and calculate diff from previous version\nconst humanizedComment = $input.item.json.message?.content || $input.item.json.choices?.[0]?.message?.content || $input.item.json.mainComment;\nconst finalCharCount = humanizedComment.length;\nconst currentIteration = $input.item.json.currentIteration || 1;\nconst conversationHistory = $input.item.json.conversationHistory || [];\nconst changesSummary = $input.item.json.changesSummary || null;\n\n// Calculate diff if there's a previous version\nlet diffSummary = null;\nif (conversationHistory.length > 0) {\n  const previousComment = conversationHistory[conversationHistory.length - 1].comment;\n  const previousLength = previousComment.length;\n  const lengthDiff = finalCharCount - previousLength;\n  const lengthDiffPercent = Math.round((lengthDiff / previousLength) * 100);\n  \n  diffSummary = {\n    previousLength,\n    currentLength: finalCharCount,\n    lengthDiff,\n    lengthDiffPercent,\n    lengthChange: lengthDiff > 0 ? 'увеличен' : lengthDiff < 0 ? 'сокращён' : 'без изменений'\n  };\n}\n\nreturn {\n  json: {\n    ...($input.item.json),\n    humanizedComment,\n    finalCharCount,\n    diffSummary,\n    readyForApproval: true\n  }\n};"
      },
      "id": "calculate-revision-diff",
      "name": "Calculate Revision Diff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2840, 360]
    },
    {
      "parameters": {
        "jsCode": "// Save current iteration to memory\nconst sessionId = $input.item.json.sessionId;\nconst staticData = this.getWorkflowStaticData('global');\nconst humanizedComment = $input.item.json.humanizedComment;\nconst currentIteration = $input.item.json.currentIteration || 1;\nconst feedback = $input.item.json.feedback || null;\n\nif (!staticData.sessions || !staticData.sessions[sessionId]) {\n  throw new Error(`Memory not initialized for session ${sessionId}`);\n}\n\nconst memory = staticData.sessions[sessionId];\n\n// Add current iteration to history\nconst iterationData = {\n  iteration: currentIteration,\n  comment: humanizedComment,\n  feedback: feedback,\n  timestamp: new Date().toISOString(),\n  characterCount: humanizedComment.length\n};\n\nmemory.iterations.push(iterationData);\nmemory.current_iteration = currentIteration;\nmemory.last_updated = new Date().toISOString();\n\nstaticData.sessions[sessionId] = memory;\n\nreturn {\n  json: {\n    ...($input.item.json),\n    memorySaved: true,\n    memoryState: memory\n  }\n};"
      },
      "id": "save-to-memory",
      "name": "Save to Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3040, 360]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=✅ Комментарий готов!{{ $json.currentIteration > 1 ? ' Версия ' + $json.currentIteration + '/∞' : '' }}\n\n👤 Профиль: {{ $json.profile.name_ru || $json.profile.name }}\n📊 Длина: {{ $json.finalCharCount }} знаков{{ $json.diffSummary ? ' (' + $json.diffSummary.lengthChange + ' на ' + Math.abs($json.diffSummary.lengthDiffPercent) + '%)' : '' }}\n📰 Медиа: {{ $json.media }}\n{{ $json.diffSummary && $json.changesSummary ? '\\n📝 Изменения: ' + $json.changesSummary : '' }}\n\n━━━━━━━━━━━━━━━━\n{{ $json.humanizedComment }}\n━━━━━━━━━━━━━━━━\n\n📋 Полный анализ ({{ $json.currentIteration > 1 ? '10' : '9' }} частей):\n{{ $json.fullDraftResponse }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": "={{ { \"inline_keyboard\": [[{\"text\": \"✅ Утвердить\", \"callback_data\": \"approve_\" + $json.sessionId}, {\"text\": \"🔄 Запросить правки\", \"callback_data\": \"request_edits_\" + $json.sessionId}], [{\"text\": \"✏️ Редактировать\", \"callback_data\": \"edit_\" + $json.sessionId}, {\"text\": \"🔄 Улучшить\", \"callback_data\": \"improve_\" + $json.sessionId}]] } }}"
      },
      "id": "send-for-approval",
      "name": "Send For Approval with Revision Counter",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [3240, 360],
      "credentials": {
        "telegramApi": {
          "id": "telegram_credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse callback query from Telegram button press\nconst callbackQuery = $input.item.json.callback_query;\nconst callbackData = callbackQuery.data;\nconst chatId = callbackQuery.message.chat.id;\nconst userId = callbackQuery.from.id;\nconst messageId = callbackQuery.message.message_id;\n\nconst parts = callbackData.split('_');\nconst action = parts[0];\nconst sessionId = parts.slice(1).join('_');\n\nreturn {\n  json: {\n    action,\n    sessionId,\n    chatId,\n    userId,\n    messageId,\n    callbackQueryId: callbackQuery.id,\n    callbackData\n  }\n};"
      },
      "id": "parse-callback",
      "name": "Parse Callback Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 600]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "approve"
            }
          ]
        }
      },
      "id": "route-callback-action",
      "name": "Route Callback Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 600]
    },
    {
      "parameters": {
        "jsCode": "// Handle approval action\nconst sessionId = $input.item.json.sessionId;\nconst staticData = this.getWorkflowStaticData('global');\n\nif (staticData.sessions && staticData.sessions[sessionId]) {\n  const memory = staticData.sessions[sessionId];\n  const finalComment = memory.iterations[memory.iterations.length - 1].comment;\n  \n  memory.status = 'completed';\n  memory.completed_at = new Date().toISOString();\n  staticData.sessions[sessionId] = memory;\n  \n  return {\n    json: {\n      ...($input.item.json),\n      finalComment,\n      totalIterations: memory.iterations.length,\n      approved: true\n    }\n  };\n} else {\n  throw new Error(`Session ${sessionId} not found in memory`);\n}"
      },
      "id": "handle-approval",
      "name": "Handle Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 500]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=✅ Комментарий утверждён!\n\n📊 Итераций: {{ $json.totalIterations }}\n📝 Финальная версия сохранена.\n\n━━━━━━━━━━━━━━━━\n{{ $json.finalComment }}\n━━━━━━━━━━━━━━━━\n\nСессия завершена. Память очищена.",
        "replyMarkup": "none"
      },
      "id": "send-approval-confirmation",
      "name": "Send Approval Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1040, 500],
      "credentials": {
        "telegramApi": {
          "id": "telegram_credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Clear memory for completed session\nconst sessionId = $input.item.json.sessionId;\nconst staticData = this.getWorkflowStaticData('global');\n\nif (staticData.sessions && staticData.sessions[sessionId]) {\n  delete staticData.sessions[sessionId];\n}\n\nreturn {\n  json: {\n    ...($input.item.json),\n    memoryCleared: true\n  }\n};"
      },
      "id": "clear-memory",
      "name": "Clear Memory on Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "request_edits"
            }
          ]
        }
      },
      "id": "check-request-edits",
      "name": "Check If Request Edits",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [840, 700]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=🔄 Запрос правок\n\nОпишите, какие изменения нужно внести в комментарий. Примеры:\n\n• \"Сократить на 20% и добавить статистику\"\n• \"Более формальный тон для Forbes\"\n• \"Убрать упоминание конкурентов\"\n• \"Добавить конкретный пример из практики\"\n\nОтправьте ваши правки следующим сообщением:",
        "replyMarkup": "none"
      },
      "id": "prompt-for-feedback",
      "name": "Prompt for Feedback Input",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1040, 700],
      "credentials": {
        "telegramApi": {
          "id": "telegram_credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Store pending feedback request in memory\nconst sessionId = $input.item.json.sessionId;\nconst staticData = this.getWorkflowStaticData('global');\n\nif (staticData.sessions && staticData.sessions[sessionId]) {\n  const memory = staticData.sessions[sessionId];\n  memory.status = 'awaiting_feedback';\n  memory.awaiting_feedback_since = new Date().toISOString();\n  staticData.sessions[sessionId] = memory;\n}\n\nreturn {\n  json: {\n    ...($input.item.json),\n    awaitingFeedback: true\n  }\n};"
      },
      "id": "mark-awaiting-feedback",
      "name": "Mark Session Awaiting Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 700]
    },
    {
      "parameters": {
        "jsCode": "// Handle feedback capture from new message\nconst messageText = $input.item.json.message?.text || '';\nconst chatId = $input.item.json.message?.chat?.id;\nconst userId = $input.item.json.message?.from?.id;\n\n// Find awaiting feedback session for this user\nconst staticData = this.getWorkflowStaticData('global');\nlet targetSession = null;\n\nif (staticData.sessions) {\n  for (const [sessionId, memory] of Object.entries(staticData.sessions)) {\n    if (memory.status === 'awaiting_feedback' && sessionId.startsWith(`${userId}_`)) {\n      targetSession = { sessionId, memory };\n      break;\n    }\n  }\n}\n\nif (!targetSession) {\n  return {\n    json: {\n      isFeedback: false,\n      shouldSkip: true\n    }\n  };\n}\n\nconst memory = targetSession.memory;\n\nreturn {\n  json: {\n    isFeedback: true,\n    sessionId: targetSession.sessionId,\n    chatId,\n    userId,\n    feedback: messageText,\n    person: memory.person || 'maria_arkhangelskaya',\n    media: memory.media,\n    question: memory.question,\n    context: memory.context,\n    targetLength: memory.targetLength || '1500-2000',\n    profile: memory.profile,\n    memory: memory,\n    conversationHistory: memory.iterations,\n    currentIteration: memory.iterations.length + 1,\n    response: memory.researchResults\n  }\n};"
      },
      "id": "capture-feedback-input",
      "name": "Capture Feedback from Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 900]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isFeedback }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-is-feedback",
      "name": "Check If Feedback Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 900]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=✅ Правки получены!\n\n📝 Ваши инструкции: {{ $json.feedback }}\n\n🔄 Генерирую новую версию комментария с учётом ваших правок...",
        "replyMarkup": "none"
      },
      "id": "acknowledge-feedback",
      "name": "Acknowledge Feedback Received",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [840, 900],
      "credentials": {
        "telegramApi": {
          "id": "telegram_credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Update memory status for regeneration\nconst sessionId = $input.item.json.sessionId;\nconst staticData = this.getWorkflowStaticData('global');\n\nif (staticData.sessions && staticData.sessions[sessionId]) {\n  const memory = staticData.sessions[sessionId];\n  memory.status = 'active';\n  delete memory.awaiting_feedback_since;\n  staticData.sessions[sessionId] = memory;\n}\n\nreturn {\n  json: {\n    ...($input.item.json),\n    memoryUpdated: true\n  }\n};"
      },
      "id": "update-memory-for-regeneration",
      "name": "Update Memory for Regeneration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 900]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "improve"
            }
          ]
        }
      },
      "id": "check-improve-action",
      "name": "Check If Improve Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [840, 800]
    },
    {
      "parameters": {
        "jsCode": "// Handle \"Improve\" button - auto-generate feedback\nconst sessionId = $input.item.json.sessionId;\nconst staticData = this.getWorkflowStaticData('global');\n\nif (!staticData.sessions || !staticData.sessions[sessionId]) {\n  throw new Error(`Session ${sessionId} not found`);\n}\n\nconst memory = staticData.sessions[sessionId];\nconst autoFeedback = \"Улучшить оригинальность, добавить конкретные примеры или статистику, сделать более убедительным\";\n\nreturn {\n  json: {\n    sessionId,\n    chatId: $input.item.json.chatId,\n    userId: $input.item.json.userId,\n    feedback: autoFeedback,\n    person: memory.person || 'maria_arkhangelskaya',\n    media: memory.media,\n    question: memory.question,\n    context: memory.context,\n    targetLength: memory.targetLength || '1500-2000',\n    profile: memory.profile,\n    memory: memory,\n    conversationHistory: memory.iterations,\n    currentIteration: memory.iterations.length + 1,\n    response: memory.researchResults,\n    autoImprove: true\n  }\n};"
      },
      "id": "handle-improve",
      "name": "Handle Improve (Auto Feedback)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 800]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=🔄 Улучшаю комментарий...\n\nАвтоматически применяю улучшения: оригинальность, примеры, убедительность.",
        "replyMarkup": "none"
      },
      "id": "send-improve-message",
      "name": "Send Improving Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1240, 800],
      "credentials": {
        "telegramApi": {
          "id": "telegram_credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "edit"
            }
          ]
        }
      },
      "id": "check-edit-action",
      "name": "Check If Edit Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [840, 600]
    },
    {
      "parameters": {
        "jsCode": "// Handle \"Edit\" button - similar to request_edits\nconst sessionId = $input.item.json.sessionId;\nconst staticData = this.getWorkflowStaticData('global');\n\nif (staticData.sessions && staticData.sessions[sessionId]) {\n  const memory = staticData.sessions[sessionId];\n  memory.status = 'awaiting_feedback';\n  memory.awaiting_feedback_since = new Date().toISOString();\n  staticData.sessions[sessionId] = memory;\n}\n\nreturn {\n  json: {\n    ...($input.item.json),\n    awaitingFeedback: true\n  }\n};"
      },
      "id": "handle-edit",
      "name": "Handle Edit (Request Feedback)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 600]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=✏️ Редактирование комментария\n\nОпишите, что нужно изменить. Например:\n\n• \"Сделать короче на 30%\"\n• \"Добавить упоминание дизайн-систем\"\n• \"Убрать слишком категоричные формулировки\"\n• \"Больше конкретики, меньше общих слов\"\n\nОтправьте ваши правки:",
        "replyMarkup": "none"
      },
      "id": "send-edit-prompt",
      "name": "Send Edit Prompt",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1240, 600],
      "credentials": {
        "telegramApi": {
          "id": "telegram_credentials",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Parse Request with PERSON", "type": "main", "index": 0}]]
    },
    "Telegram Callback Query Trigger": {
      "main": [[{"node": "Parse Callback Query", "type": "main", "index": 0}]]
    },
    "Parse Request with PERSON": {
      "main": [
        [
          {"node": "Check Required Fields", "type": "main", "index": 0},
          {"node": "Capture Feedback from Message", "type": "main", "index": 0}
        ]
      ]
    },
    "Check Required Fields": {
      "main": [
        [{"node": "Send Missing Fields Message", "type": "main", "index": 0}],
        [{"node": "Load Profile", "type": "main", "index": 0}]
      ]
    },
    "Load Profile": {
      "main": [[{"node": "Initialize Revision Memory", "type": "main", "index": 0}]]
    },
    "Initialize Revision Memory": {
      "main": [[{"node": "Send Confirmation with Profile", "type": "main", "index": 0}]]
    },
    "Send Confirmation with Profile": {
      "main": [[{"node": "Prepare Research Queries", "type": "main", "index": 0}]]
    },
    "Prepare Research Queries": {
      "main": [[{"node": "Research with Perplexity", "type": "main", "index": 0}]]
    },
    "Research with Perplexity": {
      "main": [[{"node": "Load Conversation History", "type": "main", "index": 0}]]
    },
    "Load Conversation History": {
      "main": [[{"node": "Build AI Agent Prompt with Memory", "type": "main", "index": 0}]]
    },
    "Build AI Agent Prompt with Memory": {
      "main": [[{"node": "AI Agent - Draft Comment (GPT-4o)", "type": "main", "index": 0}]]
    },
    "AI Agent - Draft Comment (GPT-4o)": {
      "main": [[{"node": "Extract Comment", "type": "main", "index": 0}]]
    },
    "Extract Comment": {
      "main": [[{"node": "Humanize Comment", "type": "main", "index": 0}]]
    },
    "Humanize Comment": {
      "main": [[{"node": "Calculate Revision Diff", "type": "main", "index": 0}]]
    },
    "Calculate Revision Diff": {
      "main": [[{"node": "Save to Memory", "type": "main", "index": 0}]]
    },
    "Save to Memory": {
      "main": [[{"node": "Send For Approval with Revision Counter", "type": "main", "index": 0}]]
    },
    "Parse Callback Query": {
      "main": [[{"node": "Route Callback Action", "type": "main", "index": 0}]]
    },
    "Route Callback Action": {
      "main": [
        [{"node": "Handle Approval", "type": "main", "index": 0}],
        [
          {"node": "Check If Request Edits", "type": "main", "index": 0},
          {"node": "Check If Improve Action", "type": "main", "index": 0},
          {"node": "Check If Edit Action", "type": "main", "index": 0}
        ]
      ]
    },
    "Handle Approval": {
      "main": [[{"node": "Send Approval Confirmation", "type": "main", "index": 0}]]
    },
    "Send Approval Confirmation": {
      "main": [[{"node": "Clear Memory on Complete", "type": "main", "index": 0}]]
    },
    "Check If Request Edits": {
      "main": [
        [{"node": "Prompt for Feedback Input", "type": "main", "index": 0}]
      ]
    },
    "Prompt for Feedback Input": {
      "main": [[{"node": "Mark Session Awaiting Feedback", "type": "main", "index": 0}]]
    },
    "Capture Feedback from Message": {
      "main": [[{"node": "Check If Feedback Message", "type": "main", "index": 0}]]
    },
    "Check If Feedback Message": {
      "main": [
        [{"node": "Acknowledge Feedback Received", "type": "main", "index": 0}]
      ]
    },
    "Acknowledge Feedback Received": {
      "main": [[{"node": "Update Memory for Regeneration", "type": "main", "index": 0}]]
    },
    "Update Memory for Regeneration": {
      "main": [[{"node": "Load Conversation History", "type": "main", "index": 0}]]
    },
    "Check If Improve Action": {
      "main": [
        [{"node": "Handle Improve (Auto Feedback)", "type": "main", "index": 0}]
      ]
    },
    "Handle Improve (Auto Feedback)": {
      "main": [[{"node": "Send Improving Message", "type": "main", "index": 0}]]
    },
    "Send Improving Message": {
      "main": [[{"node": "Load Conversation History", "type": "main", "index": 0}]]
    },
    "Check If Edit Action": {
      "main": [
        [{"node": "Handle Edit (Request Feedback)", "type": "main", "index": 0}]
      ]
    },
    "Handle Edit (Request Feedback)": {
      "main": [[{"node": "Send Edit Prompt", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "sessions": {}
  },
  "tags": [],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "2.3.0",
  "description": "CEO Comment Writer v2.3 with LangChain AI Agent architecture, BufferMemory for conversational memory, and unlimited PR manager feedback iterations. Enhanced with revision tracking, diff calculation, and feedback loop routing.",
  "active": false
}